<plugin>
	<nom>Seenthis</nom>
	<auteur>ARNO*</auteur>
	<version>1.0</version>
	<etat>stable</etat>
	<description>
		Configuration de Seenthis
	</description>
	<prefix>seenthis</prefix>
	<options>seenthis_options.php</options>

	<pipeline>
		<nom>rechercher_liste_des_champs</nom>
		<inclure>seenthis_options.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/seenthis.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/seenthis.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/seenthis.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_objets_surnoms</nom>
		<inclure>base/seenthis.php</inclure>
	</pipeline>

	<version_base>0.7.0</version_base>
	<install>base/seenthis.php</install>

	<necessite id="SPIP" version="[2.1.0;]" />
	<necessite id="microcache" />
	<necessite id="queue" />
	<necessite id="detecter_langue" />
	<necessite id="lien_court" />
</plugin>

